@charset "utf-8";
body {
  font-family: Helvetica, sans-serif;
}

body {
  background-image: url("../imagenes/logo_formula1_nuevo.jpg");
  background-repeat: no-repeat;
   background-attachment: fixed;  
  background-size: cover;
}
<h1>Lorem ipsum dolor sit amet</h1>

<p>Lorem ipsum dolor sit amet.</p>
<p>0 1 2 3 4 5 6 7 8 9</p>
